@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin textDecoration {
  text-decoration: none;
}

@mixin removeBtnOutline {
  border-color: inherit;
  box-shadow: none;
}

@mixin theme-black {
  background-color: $color-primary-dark;
}

@mixin theme-white {
  background-color: $color-primary-light;
}

@mixin footerHover {  // hover effect on footer
  color: $color-gold;
  transition: all .5s;
}

@mixin popup-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba($color-black, .8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: none;
  visibility: hidden;
}

@mixin popup-content {
  @include absCenter;
  background-color: $color-primary-light;
  border-radius: .3rem;
  box-shadow: $box-shadow;

  visibility: hidden;
}

@mixin horizontal-line {  // gold decoration line
  display: block;
  width: 10rem;
  background-color: $color-gold;
  height: .1rem;
}


  // MEDIA QUERY MANAGER

/*
0 - 374px: small phone
375 - 600px: phone
601 - 900px: Tablet Portrait
901 - 1200px: Tablet Landscape
[1201 - 1800px] is where our normal styles apply
1800px + : Big desktop

Breakpoint argument choices:
- small-phone
- phone
- tap-port
- tap-land
- big-desktop

1em = 16px
*/


@mixin respond($breakpoint){

  @if $breakpoint == small-phone{
    @media only screen and (max-width: 23.375em) { @content }; //  375px 
  }

  @if $breakpoint == phone{
    @media only screen and (max-width: 37.5em){ @content }; //  600px
  }

  @if $breakpoint == tab-port{
    @media only screen and (max-width: 56.25em) { @content }; // 900px
  }

  @if $breakpoint == tab-land{
    @media only screen and (max-width: 75em){ @content }; // 1200px
  } 

  @if $breakpoint == big-desktop{
    @media only screen and  (min-width: 112.5em){ @content }; // 1800px
  }
}


