@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@mixin textDecoration {
    text-decoration: none;
    color: inherit;
  }


@mixin theme-black{
  background-color: $color-primary-dark;
}  

@mixin theme-white{
  background-color: $color-primary-light;
}

@mixin removeBtnOutline {      
  border-color: inherit;
  box-shadow: none;
}

@mixin footerHover {
  color:$color-primary-light;
  transition: all .5s;
}