// COLOR
$color-primary-dark: #0f0f0f;
$color-primary-light: #f7f7f7;

$color-dark-light: #222222;
$color-black: #000;
$color-white: #fff;


// FONT
$default-font-size: 1.6rem;

// SHADOW
$box-shadow-1: 0 1.5rem 4rem rgba($color-black, .15);

