// HOME 
.header {
    position: relative;
    @include theme-black;
    height: auto;

    &__row {
        margin: 0;
    }
    
    &__logobox {
        position: absolute;
        width: 23rem;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }

    &__logo {
        width: 100%;
        height: auto;
    }

    &__container {
        height:100vh auto;
        padding-bottom: 13rem; //clip-path
    }

    // LOCATION - ICON
    &__location {
        position: absolute;
        top: 3rem;
        left: 4rem;
        font-size: 1.3rem;
    }

    &__link,
    &__link:link,
    &__link:visited {
        @include textDecoration;
        color:  $color-primary-dark;
    }

    &__icon {
        font-size: 2.5rem;
        margin-right: 1rem;
    }

    } 


    // TEAM 
    .header-sub {
        position: relative;
        height: 60vh;
        background-color: $color-primary-dark;
        margin-top: 5rem;
    }

    .header__text {
        text-align: center;
        color: $color-primary-light;
        padding-top: 10rem;
        
        &--big {
            display: block;
            font-size: 5rem;
            font-weight: 200;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &--small {
            font-family: 'Times New Roman', Times, serif;
            font-size: 2rem;
            font-style: italic;
        }
    }

