.header{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../img/test.jpg");
    background-size: cover;
    background-position: top;

    &__logobox{
        position: absolute;
        width: 23rem;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }

    &__logo{
        width: 100%;
        height: auto;
    }

    &__text{
        font-size: 3rem;
        line-height: 1.5;
        letter-spacing: 1.3rem;
    }  

    &__textbox{
        position: absolute;
        top: 60rem;
        left: 30rem;
        transform: translate(0, -50%);
    }

}