.navigation {

    //Navbar
    &__container {
        position: relative;
        z-index: 2000;
        width: 100%;
        height: 10rem;
        padding: 3rem 4rem;
        background-color: $color-primary-dark;
        display: flex;
        align-items: center;
    }

    &__checkbox:checked+&__container {
        position: fixed;
    }

    &__checkbox {
        display: none;
    }

    &__logobox {
        width: 23rem;
    }

    &__logo {
        width: 100%;
    }

    // Hamburger menu
    &__button {
        position: relative;
        height: 4rem;
        width: 4rem;
        cursor: pointer;
        margin: 0;
        display: flex;
        align-items: center;
    }

    &__icon {

        &,
        &::before,
        &::after {
            position: absolute;
            right: 0;
            display: inline-block;
            width: 4rem;
            height: .3rem;
            background-color: $color-gold;
        }

        &::before,
        &::after {
            content: "";
            transition: $transition-short;
        }

        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }

    // Icon select effect
    &__checkbox:checked+&__container &__button-container &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__container &__button-container &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__container &__button-container &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    // Navigation (hidden - show)
    &__nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $color-primary-dark;
        height: 100vh;
        width: 100%;

        z-index: 1000;
    }

    &__list {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        @include respond(tab-land) {
            top: 50%;
        }
    }

    &__item {
        display: inline;
        font-weight: $font-ko-extra-light;

        &:not(:last-child) {
            margin-right: 7rem;

            @include respond(tab-land) {
                margin-top: 7rem;
                margin-right: 0;
            }
        }

        @include respond(tab-land) {
            display: block;
            margin-top: 7rem;
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        @include textDecoration;
        color: $color-primary-light;
        font-size: 4rem;

        @include respond(tab-land) {
            margin: 0;
        }
    }
}

// Sticky Navigation
.sticky .navigation {

    &__container {
        height: 9rem;
        position: fixed;
        background-color: $color-primary-light;
        box-shadow: $box-shadow;
        padding: 0 4rem;
    }

    &__map-link,
    &__map-link:link,
    &__map-link:visited {
        color: $color-primary-dark;
    }

    &__map-icon {
        color: $color-primary-dark;
    }

    &__icon {

        &,
        &::before,
        &::after {
            background-color: $color-primary-dark;
        }
    }
}