.navigation{
        
    &__navbar{
        width: 100%;
        height: 10rem;
        background-color: $color-primary-light;
        position: fixed;
        z-index: 2000;
        }

    &__checkbox{display: none;}

    //  CLICKED NAVIGATION
    &__nav{
        background-color: $color-primary-dark;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1000;

        display: none;


        
    }

    &__list{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &__item{
        display: inline;
    }

    &__link {
        &:link,
        &:visited {
            @include textDecoration
            color: $color-white;
            font-size: 3rem;
            word-spacing: .7rem;
            margin-right: 7rem;
        }
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ &__nav {
        display: block;
        animation: fadeIn .6s ease-out;
    } 

    // ICON
    &__button{ 
        position: absolute;
        background-color: $color-primary-light;
        height: 4rem;
        width: 4rem;
        top: 3rem;
        right: 3rem;   
        cursor: pointer;

        z-index: 2000;
    }

    &__icon{
        position: relative;
        margin-top: 1.5rem;

        &,
        &::before,
        &::after{
            display: inline-block;
            width: 3rem;
            height: 2.4px;
            background-color: $color-primary-dark;
            position: absolute;
            right: 0;
        }

        &::before,
        &::after{
        content: "";
        position: absolute;
        transition: all .2s;
        }

        &::before {top: -1rem;}
        &::after {top: 1rem;}
        
    }

    // ICON SELECT EFFECT
    &__checkbox:checked + &__navbar &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__navbar &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__navbar &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}