@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from { opacity: 0; }
    to   { opacity: 1; }
}


// Animation on Scroll
.wp {
    opacity: 0;
}

.wp.animated{
    opacity: 1;
}