body {
    font-family: 'Montserrat', 'Nanum Gothic', sans-serif;  // Eglish - Monserrat, Korean - Nanum Gothic
    line-height: 1;
    font-weight: 200;
    color: $color-primary-light;
    text-rendering: optimizeLegibility;
}

.text {

    &__category {
        text-align: center;
        padding: 3rem 0;
        margin: 0;

        &--white {
            color: $color-primary-light;
        }

        &--black {
            color: $color-primary-dark;
        }
    }

    &__quote {              // MAKE IT DRY
        font-family: 'Permanent Marker', cursive;
        color: $color-primary-dark;
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: .3rem;
        
        &--gold {
            color: $color-gold;
        }

        @include respond(tab-land) {
            font-size: 5rem;
        }

        @include respond(tap-port) {
            font-size: 3.5rem;
        }

        @include respond(phone) {
            font-size: 3rem;
        }
    }
}


