body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 200;
    color: $color-primary-light;
}

.text {

    // H1 - HEADER OF MAIN HOMEPAGE
    &__header {
        text-align: left;
        color: $color-primary-dark;

        &--primary {
            display: block;
            font-family: 'Permanent Marker', cursive;
            line-height: 2;
            font-size: 5.2rem;
        }

        &--secondary {
            font-size: 1.7rem;
            font-family: 'Noto Serif KR', serif;
            font-weight: 300;
        }
    }

    // H1 - HEADING (PRIMARY)
    &__primary {
        text-align: center;
        text-transform: uppercase;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: .3rem;

        &--white {
            color: $color-primary-light;
        }

        &--black {
            color: $color-primary-dark;
        }
    }

    // H3 - CATEGORY
    &__category {
        margin-bottom: 3rem;
        text-align: center;

        &--white {
            color: $color-primary-light;
        }

        &--black {
            color: $color-primary-dark;
        }
    }

    &__quote {
        font-family: 'Permanent Marker', cursive;
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: .3rem;
        color: $color-primary-dark;
        padding: 0 30rem;
    }
}

