body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 200;
    color: $color-primary-light;
}

.text {

    &__category {
        text-align: center;
        padding: 2rem 0;
        margin: 0;

        &--white {
            color: $color-primary-light;
        }

        &--black {
            color: $color-primary-dark;
        }
    }

    &__quote {              // MAKE IT DRY
        font-family: 'Permanent Marker', cursive;
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: .3rem;
        color: $color-gold;
        padding: 0 30rem;
    }
}

