// ABOUT
.about {
    overflow: hidden;
    color: $color-primary-dark;

    @include respond(phone) {
        padding-bottom: 0 !important;
    }

    &__title {
        padding: 0 30rem;
        text-align: center;
        font-weight: 800;
        font-size: 4.5rem;

        @include respond(tab-land) {
            padding: 10rem 4rem !important;
            font-size: 3.5rem;
        }

        &-ko {
            display: block;
            font-weight: 600;
            font-size: 2rem;
        }
    }

    &__description {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.5;
        margin: 6rem 0;

        @include respond(tab-land) {
            padding: 0 4rem;
        }

        @include respond(tab-port) {   
            padding: 0 4rem;
            margin: 3rem 0;
        }

        @include respond(phone) {
            padding: 0 4rem;
        }
        
        &-title {
            display: block;
            font-size: 4rem;
            font-weight: 800;
            text-align: center;
        }
    }

    &__image-wrapper {
        height: auto;

        &--1 {
            width: 80%;
        }

        &--2 {
            width: 100%;
        }

        &--4 {
            width: 80%;
            float: right;
            transform: translateX(6rem);
            margin-top: 13rem;
        }

        &--5 {
            width: 90%;
            float: right;
            margin-top: 20rem;
        }

        &--6 {
            width: 90%;
            margin-top: 15rem;
        }

        &--7 {
            width: 50%;
            margin-left: 7rem;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

}

.col {
    width: 33.333%;
    height: auto;
    float: left;
    padding-top: 10rem;

    &--one-third {
        @include respond(tab-land) {
            width: 40%;
        }

        @include respond(phone) {
            display: none; 
        }
    }

    &--two-third {
        @include respond(tab-land) { 
            width: 60%;
            padding: 0;
        }

        @include respond(phone) {
            width: 100%; 
        }
    }

    &--three-third {
        @include respond(tab-land) {
            display: none;
        }
    }
}


// CEO Message
.ceo-message {
    padding: 0 2rem;
    margin-bottom: 13rem;

    overflow: hidden;       // for IE.
    max-height: 140vh;
    height: auto;

    @include respond(tab-land) {
        padding: 3rem 3rem 0 !important; 
        overflow: visible;
        max-height: 200vh;
        margin-bottom: 5rem !important;
    }

    &__image-container {
        background-image: url("../img/Park Cheonwoong-4.jpg");  // object-fit not working in IE.
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat; 

        @include respond(tab-land) {
            height: 90vh;
            width: 80%;
            margin: 0 auto;
        }

        @include respond(phone) {
            height: 70vh;
            width: 100%;
        }
    }

    &__text {
        color: $color-primary-dark;
        text-align: left;
        font-size: 1.8rem;
        line-height: 2.5;
        font-weight: 400;
        padding: 7rem 5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;


        @include respond(tab-land) {
            padding: 4rem;
        }

        @include respond(phone) {
            padding: 2rem 1.3rem;
        }

        &-name {
            display: block;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }

    &__handwritten {
        width: 40%;
        padding-top: 6rem;

        @include respond(tab-land) {
            width: 30%;
            padding-top: 5rem;
        }

        @include respond(tab-port) {
            width: 40%;
            padding-top: 5rem;
        }

        @include respond(phone) {
            width: 50%;
            padding-top: 4rem;
        }

        &-name {
            width: 100%;
        }
    }
}