.about {
    padding: 0 25rem; //section padding

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__p {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2;
    }

    &__emphasis {
        display: block;
        font-family: 'Noto Serif KR', serif;
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
    }
}
