// Basic button 
.btn {

    &,
    &:link,
    &:visited {
        @include textDecoration;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        padding: 2rem 2.3rem;
        border-radius: .5rem;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: .3rem;
        word-spacing: .7rem;
        transition: $transition-medium;
        overflow: hidden;
    }

    &--light {
        color: $color-primary-light;
        border: 1px solid $color-primary-light;

        &:hover {
            color: $color-primary-dark;
        }

        &::before {
            background: $color-primary-light;
        }
    }

    &--dark {
        color: $color-primary-dark;
        border: 1px solid $color-primary-dark;

        &:hover {
            color: $color-primary-light;
        }

        &::before {
            background: $color-primary-dark;
        }
    }

    &--pink {
        color: $color-pink;
        border: 1px solid $color-pink;

        &:hover {
            color: $color-primary-dark;
        }

        &::before {
            background: $color-pink;
        }
    }

    &:hover {
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        z-index: -1;
        transition: 0.8s;
        bottom: 0;
    }

    &:hover::before {
        height: 100%;
    }

    &:focus {
        @include removeBtnOutline;
    }
}

// Colored circle button
.btn-circle-color {
    position: relative;
    width: 7rem;
    height: 7rem;
    background-color: #eb8242;
    border-radius: 50%;
    margin: 0 auto;
}

.btn-circle {
    position: absolute;
    top: 1rem;

    &,
    &:link,
    &:visited {
        @include textDecoration;
        font-family: 'Montserrat', sans-serif;
        padding: 2.1rem 1.5rem;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .3rem;
        transition: $transition-medium;
        color: $color-primary-dark;
        border: 1px solid $color-primary-dark;
    }
}

// arrow button on sub header
.arrow-button {
    color: $color-gold;
    font-size: 2.7rem;

    display: inline-block;   
    animation-duration: 3s; 
    margin-left: 5px;
    vertical-align: -2.5px;
    line-height: .5;
    
    &:hover {
        color: currentColor;
        text-decoration: none;
    }

    @include respond(phone) {
        display: none;
    }
}