.btn {

    &,
    &:link,
    &:visited {
        @include textDecoration;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        background: none;
        padding: 2rem 2.3rem;
        border-radius: .5rem;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: .3rem;
        word-spacing: .7rem;
        transition: $transition-medium;
        overflow: hidden;
    }

    &--light {
        color: $color-primary-light;
        border: 1px solid $color-primary-light;

        &:hover {
            color: $color-primary-dark;
        }

        &::before {
            background: $color-primary-light;
        }
    }

    &--dark {
        color: $color-primary-dark;
        border: 1px solid $color-primary-dark;

        &:hover {
            color: $color-primary-light;
        }

        &::before {
            background: $color-primary-dark;
        }
    }

    &--pink {
        color: $color-pink;
        border: 1px solid $color-pink;

        &:hover {
            color: $color-primary-dark;
        }

        &::before {
            background: $color-pink;
        }
    }

    &--gold {
        color: $color-gold;
        border: 1px solid $color-gold;

        &:hover {
            color: $color-primary-dark;
        }

        &::before {
            background: $color-gold;
        }
    }

    &:hover {
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        z-index: -1;
        transition: 0.8s;
        bottom: 0;
    }

    &:hover::before {
        height: 100%;
    }

    &:focus {
        @include removeBtnOutline;
    }
    }








