.btn {
    cursor: pointer;
    display: inline-block;

    &,
    &:link
    &:visited {
        @include textDecoration;

        padding: 2.3rem 2rem;
        border-radius: .5rem;
        background-color: transparent;
        border: 1px solid $color-dark-light;
        color: $color-dark-light;
        font-size: 1rem;
        transition: $transition-medium;

    }

    &:hover {
        background-color: $color-dark-light;
        color: $color-primary-light;
    }
    
}