 // PARTNERSHIP
.contact-us {

    &__content {
        width: 100%;
        height: auto;
        overflow: hidden;

        &-imageBox {
            width: 60%;
            margin-top: 5rem;
            margin-left: 20rem;

            @include respond(tab-land) {
                min-width: 80%;
                margin: 0 auto;
            }

            @include respond(tab-port) {
                min-width: 90%;
            }

            @include respond(phone) {
                min-width: 100%;
            }
        }

        &-textBox {
            width: 25%;
            padding: 4rem;
            background-color: $color-primary-dark;
            transform: translateY(-10rem);
            float:right;
            margin-right: 10rem;

            font-size: 4rem;
            font-weight: 800;
            text-align: center;

            @include respond(tab-land) {
                min-width: 30%;
            }

            @include respond(tab-port) {
                min-width: 50%;
                transform: translateY(0);
                margin: 0;
            }

            @include respond(phone) {
                font-size: 3.5rem;
                padding: 2.5rem;
            }

            @include respond(small-phone) {
                font-size: 3rem;
            }
        }
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__text {
        display: block;
        text-align: left;

        &--primary {
            color: $color-primary-dark;
            font-size: 10rem;
            font-weight: 800;

            @include respond(tab-port) {
                font-size: 8rem;
            }

            @include respond(phone) {
                font-size: 6rem;
            }
        }

        &--secondary {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 1.5rem;

            @include respond(tab-port) {
                font-size: 2.5rem;
            }

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &--tertiary {
            font-size: 2.3rem;
            font-weight: 400;

            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }

    &__horizontal-line {
        @include horizontal-line;
        margin: 3rem 0 2rem 0;
    }
}


.partnership {

    &__row {
        padding: 0 10rem;

        @include respond(tab-land) {
            padding: 0 5rem;
        }

        @include respond(tab-port) {
            padding: 3rem;
        }
    }

    &__col {
        
        @include respond(tab-port) {
            padding: 0;
        }

        &--margin-top{
            height: auto;
            margin-top: 9rem;

            @include respond(tab-land) {
                margin:0;
            }
        }
    }
    
    &__branch {
        color: $color-primary-dark;
        text-align: center;
        font-weight: 800;
    }

    &__branch-location { 
        background-color: $color-gold-dark;
        color: $color-primary-light;
    }

    &__img {
        width: 100%;
        height: 100%;

        &--hidden {
            @include respond(tab-land) {
                display: none;
            }
        }
    }

    &__horizontal-line {
        @include horizontal-line;
    }

    &__text {
        color: $color-primary-dark;
        padding: 7rem 5rem 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2;

        &-title {
            text-align: center;
            font-weight: 600;
        }

        &-info {
            font-size: 1.4rem;
            font-weight: 600;
        }

        &-name {
            display: block;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
}
