// POPUP OF TEAM
.popup {
    @include popup-bg;

    &__content {
        @include popup-content;
        width: 80%;

        @include respond(phone) {
            width: 100%;
            padding: 3rem;
            overflow: auto;
        }

        @include respond(phone) {
            padding: 0;
            max-height: 100vh;
        }

        // PARTNER INTERVIEW
        &--partner-interview {
            background-color: $color-gold-dark;
            color: $color-primary-light;

            @include respond(phone) {
                display: flex;
                padding: 0 3rem;
                height: auto;
                min-height: 60vh;
            }
        }
    }

    // PARTNER INTERVIEW
    &__partner-interview {
        font-size: 1.5rem;
        line-height: 2.3;
        margin: 0;
        padding: 3rem;
    }

    &__close,
    &__close:link,
    &__close:visited {
        @include textDecoration;
        position: fixed;
        top: 1rem;
        right: 2rem;
        font-size: 4rem;
        color: $color-primary-dark;
    }

    &__col {
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &--img {

            @include respond(tab-land) {
                width: 40%;
                margin: 0 auto;
            }

            @include respond(phone) {
                width: 80%;
            }
        }

        &--text {
            padding: 0 3rem;

            @include respond(phone) {
                padding: 0;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // OPEN STATE
    &:target {
        visibility: visible;
    }

    &:target &__content {
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }

    // TEXT OF POPUP
    &__text {
        color: $color-primary-dark;

        &--mantra {
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 0 5rem;

            @include respond(tab-land) {
                margin-top: 4rem;
            }
        }

        &--interview {
            padding: 0 5rem;
            text-align: left;
            line-height: 2;
            margin: 0;

            @include respond(tab-land) {
                margin-bottom: 5rem;
            }
        }

        &--question {
            display: block;
            font-size: 1.4rem;
            font-weight: 600;

            &:not(:first-child) {
                margin-top: 2rem;
            }
        }

        &--answer {
            font-size: 1.3rem;
        }
    }
}