// POPUP OF TEAM
.popup {
    @include popup-bg;

    &__content {
        @include popup-content;
        overflow: auto;
    }

    &__close,
    &__close:link,
    &__close:visited {
        @include textDecoration;
        position: fixed;
        top: 1rem;
        right: 2rem;
        font-size: 4rem;
        color: $color-primary-dark;
    }

    &__col {
        height: 80vh;
        padding: 0;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // OPEN STATE
    &:target {
        visibility: visible;
    }

    &:target &__content {
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }

    // TEXT OF POPUP
    &__text {
        color: $color-primary-dark;

        &--mantra {
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            padding: 2rem 2rem 0;
        }

        &--interview {
            padding: 3rem 4rem;
            text-align: left;
            line-height: 2;
        }

        &--question{
            display: block;
            font-size: 1.2rem;
            font-weight: 400;

            &:not(:first-child) {margin-top: 2rem;}
        }

        &--answer {
            font-size: 1.1rem;
        }
    }
}




.popup__row {
    position: relative;
}