.team {
    
    &__container {
        height: auto; // adjust a height!
        background-color: $color-primary-light;
        padding: 10rem;
    }

    &__img {
        width:100%; 
        cursor: pointer;
    }

    &__textBox {
        color: $color-primary-dark;
        text-align: center;
        line-height: 2;
    }

    &__position {
        display: block;
        font-size: 1.2rem; 
    }
}
