#section-about {
    @include theme-white;
}

#section-features {
    @include theme-black;

    @include respond(tab-land) {
        padding: 5rem 0;
    }
}

#section-partnership {
    @include theme-white;
}

// Main home - Index.html
.video {
    @include flexCenter;
    width: 100%;
    height: auto;
    overflow: hidden;

    &__container {
        padding: 0 15rem;

        @include respond (tab-port) {
            padding: 0 8rem;
        }

        @include respond (phone) {
            padding: 0 3rem;
            padding-top: 15rem;
        }
    }

    &__content {
        width: 100%;  
        outline: none;
    }
}

.instagram {

    &__illustration {
        width: 10%;

        &:not(:last-child) {
            margin-right: 8rem;
        }

        @include respond(phone) {
            width: 15%;
        }
    }
}

// Big screen (tab-land - desktop)
.partner-interview {
    background-color: $color-gold-dark;
    position: relative;

    @include respond (tab-port) {
        display: none;
    }

    &__content {
        padding: 4rem;
        margin: 0 auto;
        width: 50%;
        position: relative;

        @include respond (tab-land) {
            width: 70%;
        }
    }

    &__name {

        &--eg {
            font-size: 6.5rem;
            font-weight: 800;
            text-transform: uppercase;

            position: absolute;
            top: 0;
            left: 0;

            @include respond (tab-land) {
                display: none;
            }
        }

        &--ko {
            font-family: 'Noto Sans KR', sans-serif;
            display: block;
            font-size: 1.2rem;
        }

        &--popup {
            display: block;
            font-weight: 400;
        }
    }

    &-mobile {
        &__name--eg {
            display: none;

            @include respond(tab-land) {
                display: block;
            }
        }
    }

    &__image-container {
        width: 80%;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 90%;
        }
    }

    &__img {
        width: 100%;
    }

    &__caption {
        font-family: 'Noto Serif KR', serif;
        font-size: 2.3rem;
        font-weight: 400;

        // Desktop 
        position: absolute;
        z-index: 1;
        right: 15rem;
        bottom: 5rem;

        @include respond (tab-land) {
            display: none;
        }

        &-tab {
            font-family: 'Noto Serif KR', serif;
            font-size: 2.3rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-left: 5rem;
            display: none;

            @include respond (tab-land) {
                display: block;
            }
        }
    }
}


// Small screen (small phone - tab port)
.partner-interview-mobile {
    background-color: $color-gold-dark;
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    &__content {
        padding: 4rem;
    }

    &__name {

        &--eg {
            font-size: 5rem;
            font-weight: 800;
            text-transform: uppercase;
            margin-left: 5rem;

            @include respond(small-phone) {
                font-size: 4rem;
            }
        }

        &--popup {
            text-align: center;
            display: block;
            font-weight: 400;
        }
    }

    &__image-container {
        width: 80%;
        margin: 0 auto;

        @include respond(tab-port) {
            width: 85%;
        }

        @include respond(phone) {
            width: 80%;
        }
    }

    &__caption {
        font-family: 'Noto Serif KR', serif;
        font-size: 2.3rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-left: 5rem;

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__button {

        @include respond(small-phone) {
            padding: 1.8rem !important;
        }
    }
}