 // Partnership - contanct us
.contact-us {

    &__content {
        width: 100%;
        height: auto;
        overflow: hidden;

        @include respond(tab-port) {
            padding-bottom: 10rem;
        }

        &-imageBox {
            width: 60%;
            margin-top: 5rem;
            margin-left: 20rem;

            @include respond(tab-land) {
                min-width: 80%;
                margin: 0 auto;
            }

            @include respond(tab-port) {
                min-width: 90%;
            }

            @include respond(phone) {
                min-width: 100%;
            }
        }

        &-textBox {
            width: 25%;
            padding: 4rem;
            background-color: $color-primary-dark;
            transform: translateY(-10rem);
            float:right;
            margin-right: 10rem;

            font-size: 4rem;
            font-weight: 800;
            text-align: center;

            @include respond(tab-land) {
                min-width: 30%;
            }

            @include respond(tab-port) {
                min-width: 50%;
                transform: translateY(0);
                margin: 0;
            }

            @include respond(phone) {
                font-size: 3.5rem;
                padding: 2.5rem;
            }

            @include respond(small-phone) {
                font-size: 3rem;
            }
        }
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__text {
        display: block;
        text-align: left;

        &--primary {
            color: $color-primary-dark;
            font-size: 10rem;
            font-weight: 800;

            @include respond(tab-port) {
                font-size: 8rem;
            }

            @include respond(phone) {
                font-size: 6rem;
            }
        }

        &--secondary {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 1.5rem;

            @include respond(tab-port) {
                font-size: 2.5rem;
            }

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &--tertiary {
            font-size: 2.3rem;
            font-weight: 400;

            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }

    &__horizontal-line {
        @include horizontal-line;
        margin: 3rem 0 2rem 0;
    }
}


// Partnership - branches
.partnership {
    &__row {
        padding: 0 10rem;

        @include respond(tab-land) {
            padding: 0 5rem;
        }

        @include respond(tab-port) {
            padding: 3rem; 
            margin: 0 !important;
        }

        &--map {
            //display: flex;
            //justify-content: center;
        }
    }

    &__col {
        
        @include respond(phone) {
            padding: 0;
            }
        }
    
    &__branch {
        color: $color-primary-dark;
        text-align: center;
        font-weight: 800;
    }

    &__branch-location { 
        background-color: $color-gold-dark;
        color: $color-primary-light;
    }

    &__img {
        width: 95%;
        height: auto;

        &--hidden {
            @include respond(tab-land) {
                display: none;
            }
        }
    }

    &__horizontal-line {
        @include horizontal-line;
    }

    &__text {
        color: $color-primary-dark;
        padding: 0 5rem 0 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-port) {
            padding: 3rem 5rem 0;
        }

        @include respond(phone) {
            padding: 3rem 1rem 0;
        }

        &-title {
            text-align: center;
            font-weight: 700;
        }

        &-info {
            color: $color-primary-dark;
            margin-left: 5rem;
            line-height: 2.5;

            display: flex;
            flex-direction: column;
            justify-content: center;

            @include respond(tab-port) {
                margin-top: 5rem;
                margin-left: 15px;
            }

            @include respond(phone) {
                margin-left: 0;
            }
        }

        &-name {
            display: block;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    &__icon {
        font-size: 2.3rem;
        color: $color-gold-dark;

        &-text {
            font-weight: 400;
            margin-left: 2rem;
            font-size: 1.7rem;
            color: $color-primary-dark;
        }

        &-instagram {
            color: #E1306C;
            margin-right: 1rem;
            margin-top: 4rem;

            font-size: 2rem;
        }

        &-kakao-container {
            width: 2rem;
            display: inline-block;
            margin-right: .5rem;
        }

        &-kakao {
            width: 100%;
        }
    }

    &__instagram,
    &__kakao-hairshop{
        color: $color-primary-dark;
        font-size: 1.5rem;
        letter-spacing: 1px;

        &:hover {
            text-decoration: none;
            transition: color .2s;
            color: #E1306C;
        }
    }
}

.map {
    padding-left: 15px;

    @include respond(phone) {
        padding-left: 0;
    }
}